.statisticsContainer {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.statisticsCard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.statisticItem {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chartContainer {
    width: 300px; /* 원하는 너비 설정 */
    height: 300px; /* 원하는 높이 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}

h1, h2 {
    margin: 20px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}
