table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 18px;
    text-align: left;
    table-layout: fixed;
}

table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

table th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input[type="file"] {
    margin: 10px 0;
}
